# Build directories
build/
build_*/
cmake-build-*/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Artifacts
dist/
*.zip
tmp/

#Python Environment
.venv/